.component-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.component-header nav {
  display: flex;
  flex-direction: row;
}

.component-header nav a {
  min-width: 100px;
  text-decoration: none;
}

.component-header nav a.active {
  text-decoration: underline;
}