.component-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.component-footer nav {
  display: flex;
  flex-direction: row;
}

.component-footer nav a {
  min-width: 100px;
  text-decoration: none;
}

.component-footer nav a.active {
  text-decoration: underline;
}